@import 'variables';
@import "../../node_modules/bootstrap/scss/bootstrap";

.main-header-image {
  height: 300px;
  width: 100%;
  background: url('/img/coruscant.jpg');
  background-size: cover;
  background-position-y: -300px;
}

.intro-block {
  margin-top: -4em;
  font-size: 20px;
}

.announcements {
  border-top: solid 3px #467393;
  border-bottom: solid 6px #467393;
}

.screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
  background: url('/img/jedi-order.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.profile-placeholder {
  width: 200px;
  height: 150px;
}

.translucent {
  background-color: #ffffffaa;
}

.card-list {
  font-size: 14px;
  .card {
    transition: transform 0.25s ease;
    a {
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
      z-index: 10;
    }
  }
}

.sidebar {
  .list-group-item {
    padding: 0.5rem 0.75rem;
  }
  .sidebar-folder {
    background-color: #aaa;
    color: #fff;
    &.active {
      background-color: #777;
      border: none;
      font-weight: bold;
    }
  }
  a {
    font-size: 13px;
  }
}

.info-card {
  font-size: 13px;
}

@media screen and (max-width: 1080px) {
  .main-header-image {
    background-size: auto;
  }
}
