{{ define "main" }}
<div class="screen"></div>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-2 d-none d-md-block">
      {{- partial "sidebar.html" . }}
    </div>
    <div class="col-md-10 col">
      <div class="card border-0 shadow mt-n150">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="m-0">{{ .Title }}</h3>
          <span class="font-italic"><small>Updated {{ .Date.Format "Jan 2, 2006" }}</small></span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <div class="mb-5">
                {{ .Content }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-header border-0 bg-dark text-light text-center font-weight-bold">Sample Sheet</div>
                  {{ range $attr, $attrVal := .Params.attributes }}
                  <div class="pb-3">
                    <div class="clearfix p-2 bg-light text-dark border-top border-bottom font-weight-bold">
                      <div class="float-left"><u>{{ $attr | humanize }}</u></div>
                      <div class="float-right">{{ div $attrVal 3 }}D+{{ mod $attrVal 3 }}</div>
                    </div>
                    {{ range $key, $value := index $.Params.skills $attr }}
                    {{ if $value }}
                      {{ $skillVal := add $attrVal $value }}
                      <div class="clearfix px-2 my-1">
                        <div class="float-left">{{ $key | humanize }}</div>
                        <div class="float-right">{{ div $skillVal 3 }}D+{{ mod $skillVal 3 }}</div>
                      </div>
                    {{ end }}
                    {{ end }}
                  </div>
                  {{ end }}
                <div class="card-footer">
                    {{ $attrDice := 0 }}
                    {{ $skillDice := 0 }}
                    {{ range $key, $value := .Params.attributes }}
                      {{ $attrDice = add $attrDice $value }}
                    {{ end }}
                    {{ range $attr, $skills := .Params.skills }}
                      {{ range $skill, $value := $skills }}
                      {{ if $value }}
                        {{ $skillDice = add $skillDice $value }}
                      {{ end }}
                      {{ end }}
                    {{ end }}
                    <div><b>Total Attribute Dice:</b> {{ div $attrDice 3 }}D+{{ mod $attrDice 3 }}</div>
                    <div><b>Total Skill Dice:</b> {{ div $skillDice 3 }}D+{{ mod $skillDice 3 }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}