{{ define "main" }}
<div class="screen"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block">
      {{- partial "sidebar.html" . }}
    </div>
    <div class="col-md-10 col">
      <div class="card shadow border-0 mb-5 mt-n150">
        <div class="card-header">
          <h3 class="m-0">{{ .Title }}</h3>
        </div>
        <div class="card-body">
          {{ .Content }}
          <hr class="my-4" />
          {{ with .Sections.ByTitle }}
          {{ range . }}
          <div class="card mt-4 bg-light">
            <div class="card-header bg-secondary text-light">
              <h5 class="m-0 font-weight-bold">{{ .Title }}</h5>
            </div>
            <div class="d-flex card-body text-dark">
              <div class="flex-fill">
                {{ .Params.summary }}
                {{ with .Params.npc }}
                <p class="mt-4">This is an NPC faction is not available for players to join, however they may interact with it for
                  plot purposes.</p>
                {{ end }}
                {{ with .Params.restricted }}
                <p class="mt-4">This faction is restricted. In order to create a character in this faction, contact staff.</p>
                {{ end }}
              </div>
              {{ $image := .Resources.GetMatch .Params.image }}
              {{ with $image }}
              {{ $fitImage := .Fill "300x200 TopCenter" }}
              <img src="{{ $fitImage.RelPermalink }}" class="ml-4 mb-auto rounded" alt="{{ $.Page.Title }}" />
              {{ end }}
            </div>
            <div class="card-footer bg-light border-0">
              <a href="{{ .Permalink }}" class="stretched-link btn btn-primary text-light font-weight-bold btn-block btn-sm">Learn more</a>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>
{{ end }}