{{ define "main" }}
<div class="screen"></div>
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-2 d-none d-md-block">
      {{- partial "sidebar.html" . }}
    </div>
    <div class="col-md-10 col">
      <div class="card mt-n150">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="m-0">{{ .Title }}</h3>
          <span class="font-italic"><small>Updated {{ .Date.Format "Jan 2, 2006" }}</small></span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <div id="toc" class="card mb-4">
                <div class="card-header border-0" data-toggle="collapse" data-target="#toc-body">
                  Table of Contents
                </div>
                <div id="toc-body" class="collapse show card-body border-top">
                  {{ .TableOfContents }}
                </div>
              </div>
              <div class="mb-5">
                {{ .Content }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="card border-0 shadow info-card">
                {{ with .Params.image }}
                <img src="{{ . }}" class="card-img-top" alt="{{ $.Page.Title }}" />
                {{ end }}
                <div class="card-header text-center bg-secondary text-light border-0"><b>{{ .Title }}</b></div>
                {{ with .Params.system }}
                <div class="card-header text-center bg-light border-bottom p-1">Astrography</div>
                <div class="card-body">
                  {{ with .Name }}
                    <div class="d-flex align-items-center">
                      <p class="info-title mb-2">Name:</p>
                      <p class="text-secondary mb-2">{{ . }}</p>
                    </div>
                  {{ end }}
                  {{ with .Sector }}
                  <div class="d-flex align-items-center">
                    <p class="info-title mb-2">Sector:</p>
                    <p class="text-secondary mb-2">{{ . }}</p>
                  </div>
                  {{ end }}
                  {{ with .Star }}
                  <div class="d-flex align-items-center">
                    <p class="info-title mb-2">Primary Star:</p>
                    <p class="text-secondary mb-2">{{ . }}</p>
                  </div>
                  {{ end }}
                  {{ with .Trade_routes }}
                  <div class="d-flex align-items-center">
                    <div class="info-title mb-2">Trade Routes:</div>
                    <div class="mb-2">
                      {{ range . }}
                        <p class="text-secondary m-0">{{ . }}</p>
                      {{ end }}
                    </div>
                  </div>
                  {{ end }}
                </div>
                {{ end }}
                <div class="card-header text-center bg-light border-top border-bottom p-1">Demographics</div>
                <div class="card-body">
                {{ with .Params.species }}
                  <div class="d-flex align-items-center">
                    <p class="info-title mb-2">Native Species:</p>
                    <div class="mb-2">
                      {{ range . }}
                      <p class="text-secondary m-0">{{ . }}</p>
                      {{ end }}
                    </div>
                  </div>
                {{ end }}
                {{ with .Params.languages }}
                  <div class="d-flex align-items-center">
                    <p class="info-title mb-2">Languages:</p>
                    <div class="mb-2">
                      {{ range . }}
                      <p class="text-secondary m-0">{{ . }}</p>
                      {{ end }}
                    </div>
                  </div>
                {{ end }}
                </div>
                {{ with .Params.capital }}
                  <div class="card-header border-bottom-0 border-top bg-info p-1 text-center">Capital: {{ . }}</div>
                {{ end }}
                
                {{ with .Params.affiliation }}
                  <div class="card-header border-top border-bottom text-center p-1 bg-secondary text-light">
                    Affiliation: {{ . }}
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
          {{ range .Resources.ByType "image" }}
          <div class="row">
            <div class="col-4">
              <a href="{{ .Permalink | absURL }}"><img class="img-thumbnail" src="{{ .Permalink }}" /></a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}