{{ define "main" }}
<div class="screen"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block">
      {{- partial "sidebar.html" . }}
    </div>
    <div class="col-md-10 col">
      <div class="card shadow border-0 mt-n150 mb-5">
        <div class="card-header bg-transparent">
          <span class="m-0 font-weight-bold">{{ .Title }}</span>
          <span class="float-right text-muted font-italic"><small>Updated {{ .Date.Format "Jan 2, 2006" }}</small></span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <div class="mb-5">
                {{ .Content }}
                {{ with .Params.Language }}
                <p>Default Language: {{ . }}</p>
                {{ end }}
              </div>
              {{ range $key, $value := .Params.Special }}
              <h6><u>{{ humanize $key }}</u></h6>
              <p>{{ $value }}</p>
              {{ end }}
            </div>
            <div class="col-md-4">
              <div class="card border-0 shadow info-card">
                {{ with .Params.image }}
                <img src="{{ . }}" class="card-img-top" alt="{{ $.Page.Title }}" />
                {{ end }}
                <div class="card-header text-center bg-secondary text-light border-0"><b>{{ .Title }}</b></div>
                {{ with .Params.info }}
                <div class="card-body">
                  {{ range $key, $value := . }}
                  <div class="row">
                    <div class="col text-capitalize">
                      {{ $key }}:
                    </div>
                    <div class="col">
                      {{ $value }}
                    </div>
                  </div>
                  {{ end }}
                </div>
                {{ end }}
                {{ with .Params.stats }}
                <div class="card-header border-top text-center bg-light">Default Attributes</div>
                <div class="card-body">
                  <table class="table table-borderless table-sm">
                    <thead class="border-bottom">
                      <td></td>
                      <td class="text-right">Min</td>
                      <td class="text-right">Max</td>
                    </thead>
                    {{ range $key, $value := . }}
                    <tr>
                      <td><b>{{ humanize $key }}</b></td>
                      <td class="text-right">{{ $value.min }}</td>
                      <td class="text-right">{{ $value.max }}</td>
                    </tr>
                    {{ end }}
                  </table>
                </div>
                {{ end }}
              </div>
            </div>
          </div>
          {{ range .Resources.ByType "image" }}
          <div class="row">
            <div class="col-4">
              <a href="{{ .Permalink | absURL }}"><img class="img-thumbnail" src="{{ .Permalink }}" /></a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}