{{ define "main" }}
<div class="screen"></div>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-2 d-none d-md-block">
      {{- partial "sidebar.html" . }}
    </div>
    <div class="col-md-10 col">
      <div class="card translucent border-white">
        <div class="card-header bg-transparent">
          <span class="m-0 font-weight-bold">{{ .Title }}</span>
          <span class="float-right text-muted font-italic"><small>Updated {{ .Date.Format "Jan 2, 2006" }}</small></span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <div class="mb-5">
                {{ .Content }}
                {{ with .Params.Language }}
                <p>Default Language: {{ . }}</p>
                {{ end }}
              </div>
              {{ range $key, $value := .Params.Special }}
              <h6><u>{{ humanize $key }}</u></h6>
              <p>{{ $value }}</p>
              {{ end }}
            </div>
            <div class="col-md-4">
              <div class="card border-0 shadow">
                {{ with .Params.image }}
                <img src="{{ . }}" class="card-img-top" alt="{{ $.Page.Title }}" />
                {{ end }}
                <div class="card-header text-center bg-secondary text-light border-0"><b>{{ .Title }}</b></div>
                <div class="card-body">
                  <table class="table table-borderless table-sm">
                    <thead class="border-bottom">
                      <td>Attributes</td>
                      <td class="text-right">Min</td>
                      <td class="text-right">Max</td>
                    </thead>
                    {{ range $key, $value := .Params.Stats }}
                    <tr>
                      <td><b>{{ humanize $key }}</b></td>
                      <td class="text-right">{{ $value.min }}</td>
                      <td class="text-right">{{ $value.max }}</td>
                    </tr>
                    {{ end }}
                  </table>
                </div>
              </div>
            </div>
          </div>
          {{ with .Params.Images }}
          <h5 class="mt-5 mb-3 pb-3 border-bottom">Image Gallery</h5>
          <div class="row">
            {{ range . }}
            <div class="col-md-2">
              <div class="img-thumbnail text-center p-1">
                <a href="{{ . }}" target="_blank" class="stretched-link">
                  <img src="{{ . }}" height="auto" width="100%" />
                </a>
              </div>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}