<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    {{ $sass := resources.Get "sass/app.scss" }}
    {{ $style := $sass | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body class="d-flex flex-column min-vh-100">
    {{ partial "site-header.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "site-footer.html" . }}
    {{ $js := resources.Get "js/app.js" | js.Build "app.js" }}
    {{ with $js }}
      <script type="text/javascript" src="{{ .RelPermalink }}"></script>
    {{ end }}
  </body>
</html>