{{ define "main" }}
<div class="container-fluid">
  <div class="card shadow border-0 mt-n150 mb-5">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="m-0">{{ .Title }}</h3>
      <span class="font-italic"><small>Updated {{ .Date.Format "Jan 2, 2006" }}</small></span>
    </div>
    <div class="card-body">
      {{ .Content }}
      <h5 class="text-muted mt-5">MU* Clients</h5>
      <div class="row">
        {{ range $key, $value := .Params.clients }}
        <div class="col-sm-4">
          <h6 class="text-muted">{{ humanize $key }}</h6>
          {{ range $key, $value := . }}
          <a class="btn btn-light border btn-block text-primary" href="{{ $value }}" target="_blank">{{ humanize $key }}</a>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <h5 class="text-muted mt-5">D6 RPG Resources</h5>
      <div class="row">
        {{ range $key, $value := index .Params "D6 RPG"}}
        <div class="col-sm-4">
          <a href="{{ $value }}" target="_blank" class="btn btn-light border btn-block text-primary">{{ humanize $key }}</a>
        </div>
        {{ end }}
      </div>
      <h5 class="text-muted mt-5">Star Wars Resources</h5>
      <div class="row">
        {{ range $key, $value := index .Params "Star Wars"}}
        <div class="col-sm-4">
          <a href="{{ $value }}" target="_blank" class="btn btn-light border btn-block text-primary">{{ humanize $key }}</a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}