<div class="bg-light shadow py-2">
  <div class="container-fluid p-3">
    <h1 class="text-dark m-0 text-center"><a href="/" class="text-dark">{{ $.Site.Title }}</a></h1>
    <ul class="nav d-flex justify-content-center">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown">Game Information</a>
        <div class="dropdown-menu">
          <a href="/theme" class="dropdown-item">Theme</a>
          <a href="/systems" class="dropdown-item">Systems</a>
          <a href="/policies" class="dropdown-item">Game Policies</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="/characters" class="nav-link text-secondary">Characters</a>
      </li>
      <li class="nav-item">
        <a href="/logs" class="nav-link text-secondary">Roleplay Logs</a>
      </li>
      <li class="nav-item">
        <a href="/resources" class="nav-link text-secondary">Resources</a>
      </li>
    </ul>
    
  </div>
</div>