<div class="bg-white shadow py-2">
  <div class="container-fluid p-3">
    <h1 class="text-dark m-0 text-center"><a href="/" class="text-dark">{{ $.Site.Title }}</a></h1>
    <ul class="nav d-flex justify-content-center">
      <li class="nav-item dropdown">
        <a href="/theme" class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown">Theme Info</a>
        <div class="dropdown-menu">
          <a href="/theme" class="dropdown-item">Theme</a>
          <a href="/theme/characters" class="dropdown-item">Characters</a>
          <a href="/theme/factions" class="dropdown-item">Factions</a>
          <a href="/theme/locations" class="dropdown-item">Locations</a>
          <a href="/theme/races" class="dropdown-item">Playable Races</a>
          <a href="/theme/force" class="dropdown-item">The Force</a>
          <a href="/theme/timeline" class="dropdown-item">Timeline</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="/systems" class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown">Coded Systems</a>
        <div class="dropdown-menu">
          <a href="/systems" class="dropdown-item">Systems</a>
          <a href="/systems/chargen" class="dropdown-item">Character Generation</a>
          <a href="/systems/cybernetics" class="dropdown-item">Cybernetics</a>
          <a href="/systems/d6" class="dropdown-item">D6 System</a>
          <a href="/systems/economy" class="dropdown-item">Economy</a>
          <a href="/systems/items" class="dropdown-item">Player Items</a>
          <a href="/systems/space" class="dropdown-item">Space and Ships</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="/policies" class="nav-link text-secondary">Game Policies</a>
      </li>
      <li class="nav-item">
        <a href="/characters" class="nav-link text-secondary">Characters</a>
      </li>
      <li class="nav-item">
        <a href="/logs" class="nav-link text-secondary">Roleplay Logs</a>
      </li>
      <li class="nav-item">
        <a href="/resources" class="nav-link text-secondary">Resources</a>
      </li>
    </ul>
    
  </div>
</div>